[submodule "ext/flowpipe"]
	path = ext/flowpipe
	url = https://github.com/LucaScheller/flowpipe.git
[submodule "ext/NodeGraphQt"]
	path = ext/NodeGraphQt
	url = https://github.com/LucaScheller/NodeGraphQt.git
