[submodule "ext/flowpipe"]
	path = external/flowpipe
	url = https://github.com/LucaScheller/flowpipe.git
[submodule "ext/NodeGraphQt"]
	path = external/NodeGraphQt
	url = https://github.com/LucaScheller/NodeGraphQt.git
